<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/dcis.html}" th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <title th:text="#{view.edit-storm-knight.title}">Edit Storm Knight</title>
</head>
<body><section layout:fragment="content">

<h1 class="torg-header"  th:text="#{view.edit-storm-knight.title}">Edit Storm Knight</h1>

<p th:if="${errors.hasErrors()}">
    <ul th:each="error : ${errors.allErrors}">
        <li>
            <span th:text="${error.code}">Code</span>
            <span th:text="${error.objectName}">Object</span>
            <span th:text="${error.defaultMessage}">Default Message</span>
            <span th:text="${error.Arguments}">Arguments</span>
        </li>
    </ul>
</p>

<form action="#" th:action="@{/}" th:object="${knight}" method="post">
    <input type="hidden" th:field="*{nameSpace}"/>

    <div class="form-group" th:if="*{uid} != null">
        <label class="form-label" for="uid" th:text="#{form.edit-storm-knight.uid.title}" readonly>Registry Number</label>
        <input type="text" class="form-controll" th:field="*{uid}" class="form-control" aria-describedby="uidHelp" maxlength="36" size="36"><br/>
        <small id="uidHelp" class="form-text text-muted" th:text="#{form.edit-storm-knight.uid.help}">help</small><br/>
        <p th:if="${#fields.hasErrors('uid')}" th:text="${#strings.listJoin(#fields.errors('uid'), ', ')}"></p>
    </div>

    <div class="form-group">
        <label class="form-label" for="name" th:text="#{form.edit-storm-knight.name.title}">Name</label>
        <input type="text" class="form-controll" th:field="*{name}" class="form-control" aria-describedby="nameHelp" maxlength="100" size="50" placeholder="Sam Stormknight"><br/>
        <small id="nameHelp" class="form-text text-muted" th:text="#{form.edit-storm-knight.name.help}">help</small><br/>
        <p th:if="${#fields.hasErrors('name')}" th:text="${#strings.listJoin(#fields.errors('name'), ', ')}"></p>
    </div>

    <button type="submit" class="btn btn-primary" th:text="#{form.submit.title}">Submit</button>
    <button type="reset" class="btn btn-primary" th:text="#{form.reset.title}">Reset</button>
    <button type="submit" class="btn btn-primary" th:text="#{form.cancel.title}">Cancel</button>
</form>

</section></body>
</html>