<!DOCTYPE html>
<!--suppress HtmlRequiredLangAttribute, ThymeleafVariablesResolveInspection -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/dcis.html}"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <title th:text="#{view.edit-operative.title}">Edit Storm Knight</title>
</head>
<body><section layout:fragment="content">

    <h1 class="torg-header" th:text="#{view.edit-operative.title}">Edit Storm Knight</h1>

    <form class="row g-3 form-floating needs-validation"
          novalidate
          action="#"
          th:action="@{/}"
          th:object="${operative}"
          method="post">

        <input type="hidden" th:field="*{nameSpace}"/>

        <input type="hidden" id="created" th:field="*{created}"/>
        <input type="hidden" id="modified" th:field="*{modified}"/>
        <input type="hidden" id="deleted" th:field="*{deleted}"/>
        <input type="hidden" id="lastMissionDate" th:field="*{lastMissionDate}" th:if="${operative.lastMissionDate.orElse(null)?.lastMissionDate != null}"/>


        <button type="submit" class="btn btn-primary col-2" th:text="#{form.submit.title}">Submit</button>
        <a th:href="@{${referrer}}" class="btn btn-primary col-2" th:text="#{form.cancel.title}">Cancel</a>
    </form>

</section></body>
</html>