<!DOCTYPE html>
<!--suppress HtmlRequiredLangAttribute, ThymeleafVariablesResolveInspection -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/dcis.html}"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <title th:text="#{view.edit-operative.title}">Edit Storm Knight</title>
</head>
<body><section layout:fragment="content">

    <h1 class="torg-header" th:text="#{view.edit-operative.title}">Edit Storm Knight</h1>

    <form class="row g-3 col-12 form-floating needs-validation"
          novalidate
          action="#"
          th:action="@{/}"
          th:object="${operative}"
          method="post">

        <input type="hidden" th:field="*{nameSpace}"/>
        <input type="hidden" id="deleted" th:field="*{deleted}" th:if="${operative.deleted != null}"/>

        <div class="col-4 form-floating input-group has-validation" th:if="${operative.id != null}">
            <input type="text" class="form-control" id="id" th:field="*{id}" maxlength="36" size="36" disabled
                   readonly required data-toggle="tooltip" data-placement="top"
                   th:title="#{form.edit-operative.id.help}" aria-describedby="helpId">
            <label for="id" th:text="#{form.edit-operative.id.title}" readonly>Registry Number</label>
            <div class="input-group has-validation" id="helpId" th:text="#{form.edit-operative.id.help}">Hilfe</div>
            <div class="input-group has-validation" th:if="${#fields.hasErrors('id')}">
                <ul class="invalid-feedback" id="validationId">
                    <li th:each="err : ${#fields.errors('id')}" th:text="${err}">error</li>
                </ul>
            </div>
        </div>
        <div class="col-4 form-floating input-group has-validation" th:if="${operative.id != null}">
            <input type="text" class="form-control" id="created" th:field="*{created}" maxlength="36" size="36" disabled
                   readonly required data-toggle="tooltip" data-placement="top"
                   th:title="#{form.generic.created.help}" aria-describedby="helpCreated">
            <label for="created" th:text="#{form.generic.created.title}" readonly>Registry Number</label>
            <div class="input-group has-validation" id="helpCreated" th:text="#{form.generic.created.help}">Hilfe</div>
            <div class="input-group has-validation" th:if="${#fields.hasErrors('created')}">
                <ul class="invalid-feedback" id="validationCreated">
                    <li th:each="err : ${#fields.errors('created')}" th:text="${err}">error</li>
                </ul>
            </div>
        </div>
        <div class="col-4 form-floating input-group has-validation" th:if="${operative.id != null}">
            <input type="text" class="form-control" id="modified" th:field="*{modified}" maxlength="36" size="36" disabled
                   readonly required data-toggle="tooltip" data-placement="top"
                   th:title="#{form.generic.modified.help}" aria-describedby="helpModified">
            <label for="modified" th:text="#{form.generic.modified.title}" readonly>Registry Number</label>
            <div class="input-group has-validation" id="helpModified" th:text="#{form.generic.modified.help}">Hilfe</div>
            <div class="input-group has-validation" th:if="${#fields.hasErrors('modified')}">
                <ul class="invalid-feedback" id="validationModified">
                    <li th:each="err : ${#fields.errors('modified')}" th:text="${err}">error</li>
                </ul>
            </div>
        </div>

        <div class="col-12 form-floating input-group has-validation">
            <input type="text" class="form-control" id="name" th:field="*{name}" maxlength="100" size="50"
                   th:placeholder="#{form.edit-operative.name.placeholder}" data-toggle="tooltip"
                   data-placement="top" th:title="#{form.edit-operative.name.help}" aria-describedby="helpName">
            <label for="name" th:text="#{form.edit-operative.name.title}">Name</label>
            <div class="input-group col-9 has-validation" id="helpName" th:text="#{form.edit-operative.name.help}">Hilfe</div>
            <div class="input-group col-9 has-validation" th:if="${#fields.hasErrors('name')}">
                <ul class="invalid-feedback" id="validationName">
                    <li th:each="err : ${#fields.errors('name')}" th:text="${err}">error</li>
                </ul>
            </div>
        </div>

        <div class="col-4 form-floating input-group has-validation">
            <select class="form-select" id="cosm" name="cosm" required aria-describedby="helpCosm">
                <option th:each="c : ${T(de.kaiserpfalzedv.rpg.torg.model.core.Cosm).values()}"
                        th:value="${c.name}" th:text="#{${'torg.cosm.' + c.name}}"
                        th:selected="${c == operative.cosm}">cosm name
                </option>
            </select>
            <label for="cosm" th:text="#{form.edit-operative.cosm.title}">Cosm</label>
            <div class="col-4 input-group has-validation" id="helpCosm" th:text="#{form.edit-operative.cosm.help}">
                Hilfe
            </div>
            <div class="col-4 input-group has-validation" th:if="${#fields.hasErrors('cosm')}">
                <ul class="invalid-feedback" id="validationCosm">
                    <li th:each="err : ${#fields.errors('cosm')}" th:text="${err}">error</li>
                </ul>
            </div>
        </div>


        <div class="col-12 form-floating input-group has-validation">
            <textarea class="form-control" id="description" th:field="*{description}" style="height: 5em"
                      th:placeholder="#{form.edit-operative.description.placeholder}" data-toggle="tooltip"
                      data-placement="top" th:title="#{form.edit-operative.description.help}"
                      aria-describedby="helpDescription"></textarea>
            <label for="description" th:text="#{form.edit-operative.description.title}">Beschreibung</label>
            <div class="input-group has-validation" id="helpDescription" th:text="#{form.edit-operative.description.help}">Hilfe</div>
            <div class="input-group has-validation" th:if="${#fields.hasErrors('description')}">
                <ul class="invalid-feedback" id="validationDescription">
                    <li th:each="err : ${#fields.errors('description')}" th:text="${err}">error</li>
                </ul>
            </div>
        </div>

        <div class="col-4 form-floating input-group has-validation">
            <input type="text" class="form-control" id="xp" th:field="*{xp}" maxlength="4" size="4"
                   th:placeholder="#{form.edit-operative.xp.placeholder}" data-toggle="tootltip"
                   data-placement="top" th:title="#{form.edit-operative.xp.help}" aria-describedby="helpXp">
            <label for="xp" th:text="#{form.edit-operative.xp.title}">XP</label>
            <div class="input-group has-validation" id="helpXp" th:text="#{form.edit-operative.xp.help}">Hilfe</div>
            <div class="input-group has-validation" th:if="${#fields.hasErrors('xp')}">
                <ul class="invalid-feedback" id="validationXp">
                    <li th:each="err : ${#fields.errors('xp')}" th:text="${err}">error</li>
                </ul>
            </div>
        </div>

        <div class="col-4 form-floating input-group has-validation">
            <input type="text" class="form-control" id="money" th:field="*{money}" maxlength="10" size="10"
                   th:placeholder="#{form.edit-operative.money.placeholder}" data-toggle="tootltip"
                   data-placement="top" th:title="#{form.edit-operative.money.help}"
                   aria-describedby="helpMoney">
            <label for="money" th:text="#{form.edit-operative.money.title}">Money</label>
            <div class="input-group has-validation" id="helpMoney" th:text="#{form.edit-operative.money.help}">
                Hilfe
            </div>
            <div class="input-group has-validation" th:if="${#fields.hasErrors('money')}">
                <ul class="invalid-feedback">
                    <li th:each="err : ${#fields.errors('money')}" th:text="${err}">error</li>
                </ul>
            </div>
        </div>

        <div class="col-4 form-floating input-group has-validation">
            <input type="text" class="form-control" id="lastMissionDate" th:field="*{lastMissionDate}" maxlength="10" size="10"
                   disabled readonly
                   th:placeholder="#{form.edit-operative.lastMissionDate.placeholder}" data-toggle="tootltip"
                   data-placement="top" th:title="#{form.edit-operative.lastMissionDate.help}"
                   aria-describedby="helpLastMissionDate">
            <label for="lastMissionDate" th:text="#{form.edit-operative.lastMissionDate.title}">Last Mission Date</label>
            <div class="input-group has-validation" id="helpLastMissionDate" th:text="#{form.edit-operative.lastMissionDate.help}">
                Hilfe
            </div>
            <div class="input-group has-validation" th:if="${#fields.hasErrors('lastMissionDate')}">
                <ul class="invalid-feedback">
                    <li th:each="err : ${#fields.errors('lastMissionDate')}" th:text="${err}">error</li>
                </ul>
            </div>
        </div>

        <div class="col-12 form-floating input-group has-validation">
            <textarea class="form-control" id="notes" th:field="*{notes}" style="height: 5em"
                      th:placeholder="#{form.edit-operative.notes.placeholder}" data-toggle="tooltip"
                      data-placement="top" th:title="#{form.edit-operative.notes.help}"
                      aria-describedby="helpNotes"></textarea>
            <label for="notes" th:text="#{form.edit-operative.notes.title}">Notizen</label>
            <div class="input-group has-validation" id="helpNotes" th:text="#{form.edit-operative.notes.help}">
                Hilfe
            </div>
            <div class="input-group has-validation" th:if="${#fields.hasErrors('notes')}">
                <ul class="invalid-feedback" id="validationNotes">
                    <li th:each="err : ${#fields.errors('notes')}" th:text="${err}">error</li>
                </ul>
            </div>
        </div>


        <button type="submit" class="btn btn-primary col-6" th:text="#{form.submit.title}">Submit</button>
        <a th:href="@{${referrer}}" class="btn btn-secondary col-6" th:text="#{form.cancel.title}">Cancel</a>
    </form>

</section></body>
</html>