<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/dcis.html}" th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <title th:text="#{view.list-storm-knights.title}">List of Storm Knights</title>
</head>
<body><section layout:fragment="content">

<h1 class="torg-header"  th:text="#{view.list-storm-knights.title}">List of Storm Knights</h1>

<a href="@{/}" data-method="post" class="btn btn-primary" role="button" th:text="#{storm-knights.action.create}">Register new Storm Knight</a>

<nav>
    <ul class="pagination justify-content-end">
        <li class="page-item"><a class="page-link" th:href="@{/{url}(url=${url},size=${stormknights.pageable.pageSize},page=1)}" tabindex="-1" th.text="#{paging.first}">First</a></li>
        <li class="page-item"><a class="page-link" th:if="${stormknights.pageable.pageNumber > 2}" th:href="@{/{url}(url=${url},size=${stormknights.pageable.pageSize},page=stormknights.pageable.pageNumber - 2)}" th:text="${stormknights.pageable.pageNumber - 2}">1</a></li>
        <li class="page-item"><a class="page-link" th:if="${stormknights.pageable.pageNumber > 1}" th:href="@{/{url}(url=${url},size=${stormknights.pageable.pageSize},page=stormknights.pageable.pageNumber - 1)}" th:text="${stormknights.pageable.pageNumber - 1}">2</a></li>
        <li class="page-item" th:text="${stormknights.pageable.pageNumber}">3</li>
        <li class="page-item"><a class="page-link" th:if="${stormknights.pageable.pageNumber < stormknights.totalPages - 1}" th:href="@{/{url}(url=${url},size=${stormknights.pageable.pageSize},page=stormknights.pageable.pageNumber + 1)}" th:text="${stormknights.pageable.pageNumber + 1}">4</a></li>
        <li class="page-item"><a class="page-link" th:if="${stormknights.pageable.pageNumber < stormknights.totalPages - 2}" th:href="@{/{url}(url=${url},size=${stormknights.pageable.pageSize},page=stormknights.pageable.pageNumber + 2)}" th:text="${stormknights.pageable.pageNumber + 2}">5</a></li>
        <li class="page-item"><a class="page-link" th:if="${stormknights.pageable.pageNumber < stormknights.totalPages - 1}" th:href="@{/{url}(url=${url},size=${stormknights.pageable.pageSize},page=${stormknights.totalPages})}" th:text="#{paging.last}">Last</a></li>
    </ul>
</nav>
<table class="table table-borderless table-striped">
    <caption th:text="#{view.list-storm-knights.title}">List of Storm Knights</caption>
    <thead>
        <tr>
            <th scope="col" style="width: 60%;" th:text="#{storm-knights.table.header.name}">Name</th>
            <th scope="col" style="width: 10%;" th:text="#{storm-knights.table.header.cosm}">Cosm</th>
            <th scope="col" style="width: 5%;" th:text="#{storm-knights.table.header.clearance}">Clearance</th>
            <th scope="col" style="width: 5%;" th:text="#{storm-knights.table.header.missions}">No. of Missions</th>
            <th scope="col" style="width: 10%;" th:text="#{storm-knights.table.header.last-active}">Last Active</th>
            <th scope="col" style="width: 10%;" th:text="#{storm-knights.table.header.actions}" sec:authorize="hasAnyRole('PLAYER','ORGA','JUDGE','ADMIN')">Actions</th>
        </tr>
    </thead>
    <tbody th:each="stormknight : ${stormknights.content}">
        <tr>
            <th scope="row" th:text="${stormknight.displayName}">Stormchaser</th>
            <td th:text="${stormknight.cosm}">Living Land</td>
            <td th:text="${stormknight.clearance}">Alpha</td>
            <td th:text="${stormknight.noOfMissions}">2</td>
            <td th:text="${stormknight.lastMissionDate}">2024-08-14</td>
            <td sec:authorize="hasAnyRole('PLAYER','ORGA','JUDGE','ADMIN')">
                <a href="@{/{id}(id=${stormknight.id})}" data-method="get" class="btn btn-secondary" role="button" th:text="${storm-knights.action.view}">View</a>
                <a href="@{/{id}(id=${stormknight.id})}" data-method="put" class="btn btn-secondary" role="button" th:text="${storm-knights.action.edit}" sec:authorize="hasAnyRole('PLAYER','ORGA','ADMIN')">Change</a>
                <a href="@{/{id}(id=${stormknight.id})}" data-method="delete" class="btn btn-secondary" role="button" th:text="${storm-knights.action.delete}" sec:authorize="hasAnyRole('PLAYER','ORGA','ADMIN')">Retire</a>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr th:if="${stormknight.content.isEmpty}">
            <td colspan="5" th:text="#{view.list-storm-knights.empty-list}">No storm knights registered.</td>
        </tr>
        <tr th:if="${stormknight.content.size > 0}">
            <td colspan="4" th:text="#{view.list-storm-knights.total-number}">Total number of registered storm knights</td>
            <td th:text="${stormknights.totalElements}">1</td>
        </tr>
    </tfoot>
</table>

</section></body>
</html>