<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/dcis.html}" th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <title th:text="#{view.list-storm-knights.title}">List of Storm Knights</title>
</head>
<body><section layout:fragment="content">

<h1 class="torg-header"  th:text="#{view.list-storm-knights.title}">List of Storm Knights</h1>

<a href="@{/}" data-method="post" class="btn btn-primary" role="button" th:text="#{storm-knights.action.create}">Register new Storm Knight</a>

<nav>
    <ul class="pagination justify-content-end">
        <li class="page-item disabled">
            <a class="page-link" th:href="@{/{url}(url=${url},size=${stormknights.pageable.pageSize},page=${stormknights.pageable.number - 1})}" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" th:href="@{/{url}(url=${url},size=${stormknights.pageable.pageSize},page=1)}">1</a></li>
        <li class="page-item"><a class="page-link" th:href="@{/{url}(url=${url},size=${stormknights.pageable.pageSize},page=2)}">2</a></li>
        <li class="page-item"><a class="page-link" th:href="@{/{url}(url=${url},size=${stormknights.pageable.pageSize},page=3)}">3</a></li>
        <li class="page-item">
            <a class="page-link" th:href="@{/{url}(url=${url},size=${stormknights.pageable.pageSize},page=${stormknights.pageable.number + 1})}">Next</a>
        </li>
    </ul>
</nav>
<table class="table table-borderless table-striped">
    <thead>
        <tr>
            <th scope="col" style="width: 60%;" th:text="#{storm-knights.table.header.name}">Name</th>
            <th scope="col" style="width: 10%;" th:text="#{storm-knights.table.header.cosm}">Cosm</th>
            <th scope="col" style="width: 5%;" th:text="#{storm-knights.table.header.clearance}">Clearance</th>
            <th scope="col" style="width: 5%;" th:text="#{storm-knights.table.header.missions}">No. of Missions</th>
            <th scope="col" style="width: 10%;" th:text="#{storm-knights.table.header.last-active}">Last Active</th>
            <th scope="col" style="width: 10%;" th:text="#{storm-knights.table.header.actions}">Actions</th>
        </tr>
    </thead>
    <tbody th:each="stormknight : ${stormknights.content}">
        <tr>
            <th scope="row" th:text="${stormknight.displayName}">Stormchaser</th>
            <td th:text="${stormknight.cosm}">Living Land</td>
            <td th:text="${stormknight.clearance}">Alpha</td>
            <td th:text="${stormknight.noOfMissions}">2</td>
            <td th:text="${stormknight.lastMissionDate}">2024-08-14</td>
            <td>
                <a href="@{/{id}(id=${stormknight.id})}" data-method="get" class="btn btn-secondary" role="button" th:text="${storm-knights.action.view}">View</a>
                <a href="@{/{id}(id=${stormknight.id})}" data-method="put" class="btn btn-secondary" role="button" th:text="${storm-knights.action.edit}">Change</a>
                <a href="@{/{id}(id=${stormknight.id})}" data-method="delete" class="btn btn-secondary" role="button" th:text="${storm-knights.action.delete}">Retire</a>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4" th:text="#{view.list-storm-knights.total-number}">Total number of storm knights</td>
            <td th:text="${stormknights.totalElements}">1</td>
        </tr>
    </tfoot>
</table>

</section></body>
</html>